@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
  box-sizing: border-box;
}

/* 

xs - 0px
sm - 600px
md -  960px
lg - 1280px
xl - 1920px

*/
